.mainHeader {
    color: red;
    text-decoration: underline ;
    margin-top: 100px;
}
.space
{
    margin-top: 50px;
}
.centerilized
{
    text-align: center;
}

.centered-list {
    display: flex;
    padding-left: 37%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}









